Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1440 692 232 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/yihui/Desktop/Digital_Design/Pipeline_MIPS_CPU/prj_file/CPU_top_tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 919100.000000
cursor 50000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 1
; marker line index
markerPos 23

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/yihui/Desktop/Digital_Design/Pipeline_MIPS_CPU/prj_file/CPU_top_tb.fsdb"
addSignal -h 15 /CPU_top_tb/u_CPU_top/clk
addSignal -h 15 -UNSIGNED -UDEC -holdScope inst_addr_IF[31:0]
addSignal -h 15 -holdScope jump_enable
addSignal -h 15 -UNSIGNED -UDEC -holdScope jump_inst_addr_MEM[31:0]
addSignal -h 15 -holdScope shift_enable
addSignal -h 15 -UNSIGNED -UDEC -holdScope shifted_address_MEM[31:0]
addSignal -h 15 -holdScope stall
addGroup "G2"
addSignal -h 15 -UNSIGNED -BIN /CPU_top_tb/u_CPU_top/op_type_ID[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope extended_immi_ID[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope inst_addr_ID[31:0]
addSignal -h 15 -holdScope read_register_1_ID[4:0]
addSignal -h 15 -holdScope read_register_2_ID[4:0]
addSignal -h 15 -holdScope reg_read_data_1_ID[31:0]
addSignal -h 15 -holdScope reg_read_data_2_ID[31:0]
addGroup "G3"
addSignal -h 15 -UNSIGNED -BIN /CPU_top_tb/u_CPU_top/op_type_EX[3:0]
addSignal -h 15 -holdScope alu_data_1[31:0]
addSignal -h 15 -holdScope alu_data_2[31:0]
addSignal -h 15 -holdScope read_register_1_EX[4:0]
addSignal -h 15 -holdScope read_register_2_EX[4:0]
addSignal -h 15 -holdScope alu_result_EX[31:0]
addSignal -h 15 -holdScope reg_write_address_EX[4:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope extended_immi_EX[31:0]
addGroup "G4"
addSignal -h 15 -UNSIGNED -BIN /CPU_top_tb/u_CPU_top/op_type_MEM[3:0]
addSignal -h 15 -holdScope mem_read_enable
addSignal -h 15 -holdScope mem_read_data_MEM[31:0]
addSignal -h 15 -holdScope reg_write_address_MEM[4:0]
addGroup "G5"
addSignal -h 15 -UNSIGNED -BIN /CPU_top_tb/u_CPU_top/op_type_WB[3:0]
addSignal -h 15 -holdScope reg_write_address_WB[4:0]
addSignal -h 15 -holdScope reg_write_data[31:0]
addSignal -h 15 -holdScope reg_write_enable_WB
addGroup "G6"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/yihui/Desktop/Digital_Design/Pipeline_MIPS_CPU/prj_file/CPU_top_tb.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/CPU_top_tb"
"/CPU_top_tb/u_CPU_top"

SCOPE_LIST_BEGIN
"/CPU_top_tb"
"/CPU_top_tb/u_CPU_top"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


